@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  background-image: url(bg-pattern-top-mobile.svg), url(bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  padding: 10rem 3rem;
}

.text-container {
  text-align: center;
  color: white;
}

.text-container .text-header {
  color: #502050;
  font-size: 5.25rem;
  font-weight: 500;
  line-height: 4.25rem;
  padding-bottom: 3rem;
}

.text-container .text-content {
  color: #937b92;
  font-size: 2.4rem;
  padding-bottom: 3rem;
  line-height: 2.5rem;
}

.review-container {
  padding-bottom: 2rem;
}

.review-container .review-card {
  text-align: center;
  background-color: #f7f2f7;
  padding: 2rem;
  margin-block: 1rem;
  border-radius: 0.5rem;
}

.review-container .review-header {
  color: #502050;
  font-size: 1.1rem;
}

.review-container .review-stars {
  padding-bottom: 1rem;
}

.review-container .review-stars img {
  margin-right: 1rem;
}

.review-container .review-stars img:last-child {
  margin-right: 0rem;
}

.customers-review-container {
  border-radius: 0.5rem;
  padding-bottom: 10rem;
}

.customers-review-container .customers-card-container--3,
.customers-review-container .customers-card-container--2,
.customers-review-container .customers-card-container--1 {
  background-color: #502050;
  padding: 5rem 4rem;
  margin-top: 2rem;
  border-radius: 1rem;
}

.customers-review-container .customers-card-container--3 .customer img,
.customers-review-container .customers-card-container--2 .customer img,
.customers-review-container .customers-card-container--1 .customer img {
  border-radius: 50%;
  width: 14%;
  margin-right: 3rem;
}

.customers-review-container .customers-card-container--3 .customer .customer-profile,
.customers-review-container .customers-card-container--2 .customer .customer-profile,
.customers-review-container .customers-card-container--1 .customer .customer-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
}

.customers-review-container .customers-card-container--3 .customer .customer-info,
.customers-review-container .customers-card-container--2 .customer .customer-info,
.customers-review-container .customers-card-container--1 .customer .customer-info {
  color: white;
}

.customers-review-container .customers-card-container--3 .customer .customer-info h3,
.customers-review-container .customers-card-container--2 .customer .customer-info h3,
.customers-review-container .customers-card-container--1 .customer .customer-info h3 {
  font-weight: 500;
  font-size: 1.8rem;
}

.customers-review-container .customers-card-container--3 .customer .customer-info span,
.customers-review-container .customers-card-container--2 .customer .customer-info span,
.customers-review-container .customers-card-container--1 .customer .customer-info span {
  font-size: 1.7rem;
  color: #a04c88;
}

.customers-review-container .customers-card-container--3 .customer .customer-review,
.customers-review-container .customers-card-container--2 .customer .customer-review,
.customers-review-container .customers-card-container--1 .customer .customer-review {
  color: white;
  padding-top: 2rem;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  line-height: 2.25rem;
}

@media (min-width: 1024px) {
  .container {
    padding-inline: 20rem;
  }
  .first-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .text-container {
    max-width: 40%;
    text-align: start;
  }
  .review-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .review-card .review-stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-inline: 1rem;
  }
  .review-container {
    background-color: yellow;
    width: 50%;
  }
  .sub-container--1 {
    background-color: red;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .sub-container--2 {
    background-color: red;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sub-container--3 {
    background-color: red;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .customers-review-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: pink;
  }
  .customers-review-container .customers-card-container--2 {
    margin-block: 10rem;
  }
  .customers-review-container .customers-card-container--3 {
    margin-block: 15rem;
  }
}
/*# sourceMappingURL=style.css.map */