@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  background-image: url(bg-pattern-top-desktop.svg);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  padding: 10rem 3rem;
}

.text-container {
  text-align: center;
  color: white;
}

.text-container .text-header {
  color: #502050;
  font-size: 5.25rem;
  font-weight: 500;
  line-height: 4.25rem;
  padding-bottom: 3rem;
}

.text-container .text-content {
  color: #937b92;
  font-size: 2.5rem;
  padding-bottom: 3rem;
  line-height: 2.5rem;
}

.review-card {
  text-align: center;
  background-color: #f7f2f7;
  padding: 2rem;
  margin-block: 1rem;
  border-radius: 0.5rem;
}

.review-container .review-header {
  color: #502050;
  font-size: 1.1rem;
}

.review-container .review-stars {
  padding-bottom: 1rem;
}

.review-container .review-stars img {
  margin-right: 1rem;
}

.review-container .review-stars img:last-child {
  margin-right: 0rem;
}

.customers-review-container {
  padding: 4rem;
  border-radius: 0.5rem;
  padding-bottom: 10rem;
}

.customers-review-container .customers-card-container--1 {
  background-color: #502050;
}

.customers-review-container .customers-card-container--1 .customer img {
  border-radius: 50%;
  width: 12%;
  margin-right: 3rem;
}

.customers-review-container .customers-card-container--1 .customer .customer-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customers-review-container .customers-card-container--1 .customer .customer-info {
  color: white;
}

.customers-review-container .customers-card-container--1 .customer .customer-info h3 {
  font-weight: 500;
  font-size: 1.6rem;
}

.customers-review-container .customers-card-container--1 .customer .customer-info span {
  font-size: 1.6rem;
  color: #937b92;
}

.customers-review-container .customers-card-container--1 .customer .customer-review {
  color: white;
  padding-top: 2rem;
  font-size: 2rem;
  font-weight: 400;
}

.customers-review-container .customers-card-container--2 {
  background-color: #502050;
  padding: 5rem;
  margin-top: 5rem;
}

.customers-review-container .customers-card-container--2 .customer img {
  border-radius: 50%;
  width: 12%;
  margin-right: 3rem;
}

.customers-review-container .customers-card-container--2 .customer .customer-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customers-review-container .customers-card-container--2 .customer .customer-info {
  color: white;
}

.customers-review-container .customers-card-container--2 .customer .customer-info h3 {
  font-weight: 500;
  font-size: 1.6rem;
}

.customers-review-container .customers-card-container--2 .customer .customer-info span {
  font-size: 1.6rem;
  color: #937b92;
}

.customers-review-container .customers-card-container--2 .customer .customer-review {
  color: white;
  padding-top: 2rem;
  font-size: 2rem;
  font-weight: 400;
}

.customers-card-container--3,
.customers-card-container--2,
.customers-card-container--1 {
  background-color: #502050;
  padding: 4rem 3rem;
  margin-top: 5rem;
  border-radius: 1rem;
}

.customers-card-container--3 .customer img,
.customers-card-container--2 .customer img,
.customers-card-container--1 .customer img {
  border-radius: 50%;
  width: 14%;
  margin-right: 3rem;
}

.customers-card-container--3 .customer .customer-profile,
.customers-card-container--2 .customer .customer-profile,
.customers-card-container--1 .customer .customer-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
}

.customers-card-container--3 .customer .customer-info,
.customers-card-container--2 .customer .customer-info,
.customers-card-container--1 .customer .customer-info {
  color: white;
}

.customers-card-container--3 .customer .customer-info h3,
.customers-card-container--2 .customer .customer-info h3,
.customers-card-container--1 .customer .customer-info h3 {
  font-weight: 500;
  font-size: 1.8rem;
}

.customers-card-container--3 .customer .customer-info span,
.customers-card-container--2 .customer .customer-info span,
.customers-card-container--1 .customer .customer-info span {
  font-size: 1.7rem;
  color: #937b92;
}

.customers-card-container--3 .customer .customer-review,
.customers-card-container--2 .customer .customer-review,
.customers-card-container--1 .customer .customer-review {
  color: white;
  padding-top: 2rem;
  font-size: 1.9rem;
  font-weight: 300;
}
/*# sourceMappingURL=style.css.map */