@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;700&display=swap");

$color-very_dark_magenta: hsl(300, 43%, 22%);
$color-soft_pink: hsl(300, 43%, 22%);

$color-dark_gray_magenta: hsl(303, 10%, 53%);
$color-light_dark_magenta: hsl(300, 24%, 96%);
$color-white: hsl(0, 0%, 100%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  background-image: url(bg-pattern-top-mobile.svg),
    url(bg-pattern-bottom-mobile.svg);

  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  padding: 10rem 3rem;
}

.text-container {
  text-align: center;
  color: white;
  .text-header {
    color: $color-very_dark_magenta;
    font-size: 5.25rem;
    font-weight: 500;
    line-height: 4.25rem;
    padding-bottom: 3rem;
  }
  .text-content {
    color: $color-dark_gray_magenta;
    font-size: 2.4rem;
    padding-bottom: 3rem;
    line-height: 2.5rem;
  }
}

.review-container {
  padding-bottom: 2rem;
  .review-card {
    text-align: center;
    background-color: $color-light_dark_magenta;
    padding: 2rem;
    margin-block: 1rem;
    border-radius: 0.5rem;
  }
  .review-header {
    color: $color-very_dark_magenta;
    font-size: 1.1rem;
  }
  .review-stars {
    padding-bottom: 1rem;
    img {
      margin-right: 1rem;
      &:last-child {
        margin-right: 0rem;
      }
    }
  }
}

.customers-review-container {
  border-radius: 0.5rem;
  padding-bottom: 10rem;
  .customers-card-container--3,
  .customers-card-container--2,
  .customers-card-container--1 {
    background-color: $color-very_dark_magenta;
    padding: 5rem 4rem;
    margin-top: 2rem;
    border-radius: 1rem;
    .customer {
      img {
        border-radius: 50%;
        width: 14%;
        margin-right: 3rem;
      }
      .customer-profile {
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
      }
      .customer-info {
        color: $color-white;
        h3 {
          font-weight: 500;
          font-size: 1.8rem;
        }
        span {
          font-size: 1.7rem;
          color: #a04c88;
        }
      }
      .customer-review {
        color: white;
        padding-top: 2rem;
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: 0.1rem;
        line-height: 2.25rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  .container {
    padding-inline: 20rem;
  }
  .first-container {
    display: flex;
    justify-content: space-between;
  }
  .text-container {
    max-width: 40%;
    text-align: start;
  }
  .review-card {
    display: flex;
    align-items: center;
    justify-content: center;
    .review-stars {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-inline: 1rem;
    }
  }
  .review-container {
    background-color: yellow;
    width: 50%;
  }
  .sub-container--1 {
    background-color: red;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  .sub-container--2 {
    background-color: red;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .sub-container--3 {
    background-color: red;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .customers-review-container {
    display: flex;
    background-color: pink;
    .customers-card-container--2 {
      margin-block: 10rem;
    }
    .customers-card-container--3 {
      margin-block: 15rem;
    }
  }
}
